---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Troy Robotics">
	<main class="">
		<div class="" style="background-image: url(/images/robot.jpg);">
			<div class="text-white backdrop-blur-md text-center">
				<h1 class="text-3xl font-bold">Troy Robotics</h1>
				<h2 class="text-2xl">FIRST Team 3952</h2>
			</div>
		</div>
	</main>
</Layout>
