---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Welcome to Astro.">
	<main class="flex m-1">
		<h1 class="text-white text-3xl font-bold">Troy Robotics</h1>
	</main>
</Layout>
