---
import HoverableLink from "./HoverableLink.astro";


---
<div class="flex from-red-600 to-red-900 bg-gradient-to-tr flex-row justify-around m-1 p-1 font-sans rounded-md w-3/4">
    <HoverableLink href="/">Troy Robotics</HoverableLink>

    <div class="space-x-2">
        <HoverableLink href="/about">Team</HoverableLink>
        <HoverableLink href="/">Outreach</HoverableLink>
        <HoverableLink href="/">Robot</HoverableLink>
        <HoverableLink href="/">Resources</HoverableLink>
        <HoverableLink href="/">Calendar</HoverableLink>
        <HoverableLink href="/">Contact</HoverableLink>
    </div>
</div>